h1 {
  color: rgb(10, 11, 11);
  p {
    text-shadow: 2px 2px red;
  }
}

.kartya {
  border: 1px solid black;
  border-radius: 10px;
  width: 100px;
  height: 200px;

  box-shadow: 2px 2px 8px 0px #0000007d;
  background-image: linear-gradient(rgb(201 201 201), rgb(247 247 247)),
    url(https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png);
  background-blend-mode: hard-light;
  background-size: 250%;
  background-position: center;
}

#container,
#masikhely {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.pokemonName {
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin: auto;
  text-align: center;
}
.kartya {
  width: 150px;
  height: 200px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s;
  border: 2px solid transparent;
}

.kartya.selected {
  border-color: red;
  transform: scale(1.1);
}
.kartya.selected {
  background-color: rgb(89, 255, 0);
  border-color: red;
  transform: scale(1.1);
}
body {
  background-color: rgb(240, 242, 240);
  background-image: url("https://banner2.cleanpng.com/20240229/qbb/transparent-pokemon-two-cute-pokemon-characters-standing-1710858217597.webp");
  background-size: 120px;
  background-position: center;
  background-attachment: fixed;
}
